*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}


.link{
    text-decoration:none ;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size:2rem ;
    display: inline-block;


}


.container{
    display: grid;
    place-items:center ;
    margin-top: 4rem;
    

}


.link-box{
    display: grid;
    grid-template-columns:1fr 1fr  1fr 1fr 1fr ;
    grid-row:auto ;
    column-gap: 4rem;
    row-gap:3rem ;

}


.container >h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}


.link-1{
 padding:0.5rem 0 ;
 position: relative; 
 overflow: hidden;

}


.link-1::before{
    content:"";
    background-color: blueviolet;
    position:absolute;
    height:2px ;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;

}


.link-1:hover::before{
    transform: translateX(0);
}

.link-2{
    padding:0.5rem 0 ;
    position: relative; 
    overflow: hidden;
   
   }


.link-2::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color:blueviolet;
    transition: width 0.5s ease-in-out;

}


.link-2:hover::before{
   width:100% ;
}

.link-2:hover::before {
    width: 100%;
  }


  .link-3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease-in-out;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
  }
  
  .link-3:hover::before {
    transform: translateX(-50%) scale(1);
  }


  .link-3{
    
        position: relative;
        padding: 0.5rem 0;
      
  }


  

 
  

  
  

  
  /* Hover Effect 7 */
  .link-4 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  
  .link-4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
  }
  .link-4::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
    transform: translateX(105%);
    transition: transform 0.5s ease-in-out;
  }
  
  .link-4:hover::after,
  .link-4:hover::before {
    transform: translateX(0);
  }
  
 
  .link-5 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
  }
  
  .link-5 span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 2px;
    background-color:blueviolet;
    transition: height 0.5s ease-in-out;
  }
  .link-5 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 0%;
    width: 2px;
    background-color:blueviolet;
    transition: height 0.5s ease-in-out;
  }
  
  .link-5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color:blueviolet;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
  }
  
  .link-5::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
    transform: translateX(105%);
    transition: transform 0.5s ease-in-out;
  }
  
  .link-5:hover::after,
  .link-5:hover::before {
    transform: translateX(0);
  }
  
  .link-5:hover span::before,
  .link-5:hover span::after {
    height: 100%;
  }
  
  
  .link-6 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
  }
  
  .link-6 span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 2px;
    background-color: #434343;
    transition: height 0.5s ease-in-out;
    transition-delay: 0s;
  }
  
  .link-6 span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0%;
    width: 2px;
    background-color: #434343;
    transition: height 0.5s ease-in-out;
    transition-delay: 1s; 
  }
  
  .link-6::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
    transition-delay: 1.5s;
  }
  
  .link-6::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color:blueviolet;
    transform: translateX(105%);
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.5s;
  }
  
  .link-6:hover::after {
    transform: translateX(0);
    transition-delay: 1s;
  }
  
  .link-6:hover::before {
    transform: translateX(0);
    transition-delay: 0s;
  }
  
  .link-6:hover span::before {
    height: 100%;
    transition-delay: 1.5s;
  }
  
  .link-6:hover span::after {
    height: 100%;
    transition-delay: 0.5s;
  }
  

  .link-7 {
    position: relative;  
    padding: 0.5rem 0;
  }
  
  .link-7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease-in-out;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
  }
  .link-7::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease-in-out;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
  }
  
  .link-7:hover::before,
  .link-7:hover::after {
    transform: translateX(-50%) scale(1);
  }